<!-- IF IS_BIRTHDAY_REQUIRE -->
<script>
(function($) { // Avoid conflicts with other libraries

"use strict";

$('#agreement').submit(function(event){
	var bday = $('#bday_day').val();
	var bmonth = $('#bday_month').val();
	var byear = $('#bday_year').val();

	if (bday == 0 || bmonth == 0 || byear == 0) {
		alert('{L_BDAY_VALID_DATE}');
		event.preventDefault();
	}
	
	else
	{
		var age = {S_MIN_BIRTHDAY};

		var mydate = new Date();
		mydate.setFullYear(byear, bmonth-1, bday);

		var currdate = new Date();
		currdate.setFullYear(currdate.getFullYear() - age);
		
		if ((currdate - mydate) < 0){
			alert("Sorry, only persons over the age of " + age + " may enter this site");
			event.preventDefault();
		}
	}
});

$('#register1').submit(function(event){
	var bday = $('#bday_day').val();
	var bmonth = $('#bday_month').val();
	var byear = $('#bday_year').val();

	if (bday == 0 || bmonth == 0 || byear == 0) {
		alert('{L_BDAY_VALID_DATE}');
		event.preventDefault();
	}
	
	else
	{
		var age = {S_MIN_BIRTHDAY};

		var mydate = new Date();
		mydate.setFullYear(byear, bmonth-1, bday);

		var currdate = new Date();
		currdate.setFullYear(currdate.getFullYear() - age);
		
		if ((currdate - mydate) < 0){
			alert("Sorry, only persons over the age of " + age + " may enter this site");
			event.preventDefault();
		}
	}
});

})(jQuery); // Avoid conflicts with other libraries
</script>
<!-- ENDIF -->